@import 'variables';

#email, #password, #password-confirm, #first_name, #last_name {
    width: 25vw;
    border: none;

    @media screen and (max-width: 1140px) {
        width: 100%;
    }
}

#forgot-password {
    font-size: small;
}

#custom-tooltip {
    background-color: $retrace-pink;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 10px;
    height: 20px;
    border-radius: 100%;
}

.card-header, #login-footer {
    box-shadow: none;
    background-color: $retrace-light-blue;
    border-color: $retrace-light-blue;
}
