@import 'variables';

.card {
    min-height: 65vh;
    height: 100%;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

    .card-header, .card-footer {
        border: none;
        background-color: $retrace-light-blue;
    }
}
