@import 'variables';

.card {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);

    .card-header {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
        background-color: $retrace-light-blue;
        border-color: $retrace-light-blue;
        width: 100%;
    }
}

#projectPic {
    max-width: 150px;
    border-radius: 100%;
}

#infoOverview {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 150px;
}

#wasteStreams {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 300px;
}
#dashboard-footer1, #dashboard-footer2, #dashboard-footer3 {
    box-shadow: none;
    border: none;
    background-color: $retrace-light-blue;
}

@media (max-width: 1440px) {
    @media not all and (min-resolution: .001dpcm) {

        #projectPic {
            max-height: 150px;
        }

    }

}
