@import 'variables';

#projectInfo, #userInfo {
    height: 70vh;
<<<<<<< HEAD
=======
<<<<<<< HEAD
}

@media handheld and (max-height: 1300px) {
    #projectInfo, #userInfo {
        height: 50vh;
    }
}
/*#userInfo {
    margin-right: 1em;
}

#projectInfo {
    margin-left: 1em;
}*/
=======
    width: 30%;
>>>>>>> 4d264eefaf4deb38326ff8f36e0193f14e3cc519
}
>>>>>>> de5ce09b072d4166bd95cafe659e2934524d60a6

#newSearch {

    height: 6em;
}

#project-names {
    font-size: 18px;
}
#mysearch {
    width: 20vw;
}
#mysearch:focus + .input-group-addon {
    z-index: 10;
}

#search-btn {
    background-color: rgb(255, 182, 193);
    border-color: rgb(255, 182, 193);
}
#search-btn:hover {
    cursor: pointer;
    /*color: gold;*/
    background-color: rgb(243,191,186);
}

ul {
    padding: 0;
    list-style: none;
}
