@import 'variables';

// Universal elements + bootstrap overrides

body {
    background-color: $retrace-light-blue;

    ul {
        padding: 0;
        list-style: none;
    }

    .card {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $retrace-light-blue;
        border-color: $retrace-light-blue;
    }


    #main-button {
        font-weight: bold;
        width: 14vw;
        background-color: $retrace-pink;
        border-color: $retrace-pink;
        color: black;
        border-radius: 100px;
    }

    #secondary-button {
        font-weight: bold;
        width: 14vw;
        background-color: $retrace-green;
        border-color: $retrace-green;
        color: black;
        border-radius: 100px;
    }

    #main-button-small {
        font-weight: bold;
        width: 5vw;
        background-color: $retrace-pink;
        border-color: $retrace-pink;
        color: black;
        border-radius: 100px;
    }

    #secondary-button-small {
        font-weight: bold;
        width: 5vw;
        background-color: $retrace-green;
        border-color: $retrace-green;
        color: black;
        border-radius: 100px;
    }
}


.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 15rem;    /* Footer height */
}
