@import 'variables';

// Universal elements + bootstrap overrides

body {
    background-color: $retrace-light-blue;

    ul {
        padding: 0;
        list-style: none;
        li {
            a {
                color: $retrace-grey;
            }

            a:hover {
                color: $retrace-pink;
                text-decoration: none;
            }
        }
    }
    .card {
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: $retrace-light-blue;
        border-color: $retrace-light-blue;

        .card-footer {
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
            background-color: $retrace-light-blue;
            border-color: $retrace-light-blue;
        }

    }

    #main-button {
        color: white;
        font-weight: bold;
        width: 14vw;
        background-color: $retrace-pink;
        border-color: $retrace-pink;
        border-radius: 100px;

        @media screen and (max-width: 1024px) {
            min-height: 40px;
            width: 50%;
        }

    }

    #main-button:hover, #main-button-small:hover, #main-button-medium:hover, #main-button-wide:hover {
        color: $retrace-pink;
        background-color: $retrace-sand;
        border-color: $retrace-sand;
    }

    #secondary-button {
        font-weight: bold;
        width: 14vw;
        background-color: $retrace-green;
        border-color: $retrace-green;
        color: white;
        border-radius: 100px;
    }

    #secondary-button:hover, #secondary-button-small:hover, #secondary-button-medium:hover {
        color: black;
        background-color: $retrace-sand;
        border-color: $retrace-sand;
    }

    #main-button-small {
        font-weight: bold;
        width: 75px;
        background-color: $retrace-pink;
        border-color: $retrace-pink;
        color: white;
        border-radius: 100px;

        @media screen and (max-width: 1024px) {
            min-height: 30px;
            max-height: 40px;
            width: 95%;
        }
    }

    #main-button-medium {
        font-weight: bold;
        width: 115px;
        background-color: $retrace-pink;
        border-color: $retrace-pink;
        color: white;
        border-radius: 100px;
    }

    #secondary-button-small {
        font-weight: bold;
        width: 75px;
        background-color: $retrace-green;
        border-color: $retrace-green;
        color: white;
        border-radius: 100px;
    }

    #secondary-button-medium {
        font-weight: bold;
        width: 115px;
        background-color: $retrace-green;
        border-color: $retrace-green;
        color: white;
        border-radius: 100px;
    }

    #main-button-wide {
        color: white;
        font-weight: bold;
        width: 25vw;
        background-color: $retrace-pink;
        border-color: $retrace-pink;
        border-radius: 100px;
    }

}

a span {
    color: black;
}

a span:hover {
    color: $retrace-pink;
    text-decoration: none;
}

.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 15rem;    /* Footer height */
}
