#categorySelect,
#categorySelect2 {
  height: 20vh;
  border: none;
  background-color: #e2e6f0;
  overflow: hidden;
}

#categorySelect::-moz-focus-inner,
#categorySelect2::-moz-focus-inner {
  border: 0;
}

#categorySelect:focus,
#categorySelect2:focus {
  outline: none;
}

#categorySelect option,
#categorySelect2 option {
  width: 20vw;
  background-color: white;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: none;
  color: black;
  margin: 10px 10px;
}

#categorySelect option[selected] {
  background-color: #f3bfba;
  color: white;
}

