#email,
#password,
#password-confirm,
#first_name,
#last_name {
  width: 25vw;
  border: none;
}

@media screen and (max-width: 1140px) {
  #email,
  #password,
  #password-confirm,
  #first_name,
  #last_name {
    width: 100%;
  }
}

#forgot-password {
  font-size: small;
}

#custom-tooltip {
  background-color: #f3bfba;
  color: white;
  font-weight: bolder;
  border: none;
  font-size: 10px;
  height: 20px;
  border-radius: 100%;
}

.card-header,
#login-footer {
  box-shadow: none;
  background-color: #e2e6f0;
  border-color: #e2e6f0;
}

