.card {
    margin-left: 2em;
    height: 60vh;
    background-color: rgb(226, 230, 240);
    border-color: rgb(226, 230, 240);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

#add-button {
    width: 14vw;
    background-color: rgb(243,191,186);
    border-color: rgb(243,191,186);
    color: black;
    border-radius: 100px;
}

ul {
    padding: 0;
    list-style: none;
}
