#projectInfo,
#userInfo {
  height: 80vh;
}

@media screen and (max-width: 767px) {
  #projectInfo,
  #userInfo {
    height: 100vh;
  }
}

@media screen and (min-width: 1400px) {
  #projectInfo,
  #userInfo {
    height: 60vh;
  }
}

@media screen and (min-width: 1400px) {
  #projectInfo,
  #userInfo {
    height: 70vh;
  }
}

@media screen and (min-width: 1600px) {
  #projectInfo,
  #userInfo {
    height: 70vh;
  }
}

@media screen and (min-width: 1900px) {
  #projectInfo,
  #userInfo {
    height: 70vh;
  }
}

#newSearch {
  height: 6em;
}

#project-names {
  font-size: 18px;
}

#mysearch {
  width: 20vw;
}

#mysearch:focus + .input-group-addon {
  z-index: 10;
}

#search-btn {
  background-color: lightpink;
  border-color: lightpink;
}

#search-btn:hover {
  cursor: pointer;
  /*color: gold;*/
  background-color: #f3bfba;
}

@media screen and (max-width: 450px) {
  #searchBar {
    width: 65vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #searchBar {
    width: 20vw;
  }
}

ul {
  padding: 0;
  list-style: none;
}

