#newSearch {
  height: 6em;
}

#mapAndSearch {
  width: 100%;
}

#mapAndSearch .card-footer {
  border: none;
  background-color: #e2e6f0;
}

@media not all and (min-resolution: 0.001dpcm) {
  #profilePic {
    height: 100%;
  }
}

.card-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #e2e6f0;
  border-color: #e2e6f0;
  width: 100%;
}

#myProjects {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 150px;
  font-size: 100%;
}

#titleBar {
  padding-left: 1.3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

#mysearch {
  width: 20vw;
}

#mysearch:focus + .input-group-addon {
  z-index: 10;
}

#search-btn {
  background-color: lightpink;
  border-color: lightpink;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #f3bfba;
}

@media screen and (max-width: 450px) {
  #searchBar {
    width: 65vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #searchBar {
    width: 18.5vw;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1799px) {
  #searchBar {
    width: 15vw;
  }
}

@media screen and (min-width: 1800px) {
  #searchBar {
    width: 17.5vw;
  }
}

ul {
  padding: 0;
  list-style: none;
}

#categorySelect {
  background-color: #f3bfba;
}

.categoryOptions {
  background-color: #ffffee;
}

