#userInfo {
    height: 50em;
}

#newProject, #newSearch {
    margin-left: 2em;
    height: 23em;
}

#newSearch {
    margin-top: 4em;
}

#add-button {
    width: 14vw;
    background-color: rgb(243,191,186);
    border-color: rgb(243,191,186);
    color: black;
}
