.card {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

#projectInfo, #userInfo {
    height: 70vh;
}

#userInfo {
    margin-right: 1em;
}

#projectInfo {
    margin-left: 1em;
}

#newSearch {
    margin-left: 2em;
    margin-top: 3em;
    height: 6em;
}

.add-button {
    width: 10em;
    background-color: red;
    border-color: rgb(243,191,186);
    color: black;
    border-radius: 100px;
}

#edit-button {
    width: 5em;
    background-color: rgb(187, 206, 205);
    border-color: rgb(187, 206, 205);
    color: black;
    border-radius: 100px;
}

#delete-button {
    width: 5em;
    background-color: rgb(243,191,186);
    border-color: rgb(243,191,186);
    color: black;
    border-radius: 100px;
}

#project-names {
    font-size: 18px;
}
#mysearch {
    width: 20vw;
}
#mysearch:focus + .input-group-addon {
    z-index: 10;
}
#search-btn {
    background-color: rgb(255, 182, 193);
    border-color: rgb(255, 182, 193);
}
#search-btn:hover {
    cursor: pointer;
    /*color: gold;*/
    background-color: rgb(243,191,186);
}

ul {
    padding: 0;
    list-style: none;
}
