html {
  font-size: 100%;
}

@media screen and (max-width: 414px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 801px) {
  html {
    text-wrap: avoid;
    font-size: 90%;
  }
}

body {
  background-color: #e2e6f0;
}

body ul {
  padding: 0;
  list-style: none;
}

body ul li a {
  color: #636b6f;
}

body ul li a:hover {
  color: #f3bfba;
  text-decoration: none;
}

body .card {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #e2e6f0;
  border-color: #e2e6f0;
}

body .card .card-footer {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #e2e6f0;
  border-color: #e2e6f0;
}

body .card .card-body {
  text-wrap: none;
}

@media screen and (max-width: 414px) {
  body .card .card-body {
    text-wrap: avoid;
  }
}

@media screen and (max-width: 801px) {
  body .card .card-body {
    text-wrap: avoid;
  }
}

body #main-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f3bfba;
  border-color: #f3bfba;
  text-align: center;
  transition: all 0.2s;
}

@media (max-width: 1440px) {
@media not all and (min-resolution: 0.001dpcm) {
    body #main-button {
      white-space: nowrap;
    }
}
}

body #main-button:hover,
body #main-button-small:hover,
body #main-button-medium:hover,
body #main-button-wide:hover {
  color: #f3bfba;
  background-color: #ffffee;
  border-color: #ffffee;
}

body #secondary-button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #bbcecd;
  border-color: #bbcecd;
  text-align: center;
  transition: all 0.2s;
}

@media (max-width: 1440px) {
@media not all and (min-resolution: 0.001dpcm) {
    body #secondary-button {
      white-space: nowrap;
    }
}
}

body #secondary-button:hover,
body #secondary-button-small:hover,
body #secondary-button-medium:hover {
  color: black;
  background-color: #ffffee;
  border-color: #ffffee;
}

body #main-button-small {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #f3bfba;
  border-color: #f3bfba;
  text-align: center;
  transition: all 0.2s;
  white-space: nowrap;
  font-size: 100%;
}

@media (max-width: 1440px) {
@media not all and (min-resolution: 0.001dpcm) {
    body #main-button-small {
      white-space: nowrap;
    }
}
}

body #main-button-medium {
  font-weight: bold;
  width: 115px;
  background-color: #f3bfba;
  border-color: #f3bfba;
  color: white;
  border-radius: 100px;
  font-size: 90%;
}

body #secondary-button-small {
  font-weight: bold;
  width: 75px;
  background-color: #bbcecd;
  border-color: #bbcecd;
  color: white;
  border-radius: 100px;
  font-size: 90%;
}

body #secondary-button-medium {
  font-weight: bold;
  width: 115px;
  background-color: #bbcecd;
  border-color: #bbcecd;
  color: white;
  border-radius: 100px;
  font-size: 90%;
}

body #main-button-wide {
  color: white;
  font-weight: bold;
  width: 75%;
  background-color: #f3bfba;
  border-color: #f3bfba;
  border-radius: 100px;
  font-size: 90%;
}

a span {
  color: black;
}

a span:hover {
  color: #f3bfba;
  text-decoration: none;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 15rem;
  /* Footer height */
}

